.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-11.520000px;}
.ls3{letter-spacing:-1.644573px;}
.ls4{letter-spacing:-0.405511px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.400000px;}
.ls2{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-3.490900px;}
.ws9{word-spacing:-2.080000px;}
.ws10{word-spacing:-1.080000px;}
.wsf{word-spacing:-0.960000px;}
.wsc{word-spacing:-0.400000px;}
.ws1{word-spacing:0.000000px;}
.wse{word-spacing:0.520000px;}
.ws8{word-spacing:1.160000px;}
.wsb{word-spacing:1.280000px;}
.ws6{word-spacing:1.400000px;}
.ws3{word-spacing:1.644573px;}
.wsa{word-spacing:2.520000px;}
.ws7{word-spacing:2.760000px;}
.ws4{word-spacing:4.840000px;}
.wsd{word-spacing:5.800000px;}
.ws5{word-spacing:9.320000px;}
.ws0{word-spacing:11.520000px;}
._1{margin-left:-3.680000px;}
._2{margin-left:-1.444000px;}
._3{width:1.432000px;}
._4{width:3.421082px;}
._0{width:11.520000px;}
._5{width:134.922588px;}
._6{width:2766.036952px;}
.fc1{color:rgb(112,111,111);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y1d{bottom:13.567300px;}
.y1c{bottom:23.167300px;}
.y1e{bottom:23.915000px;}
.y20{bottom:25.650400px;}
.y21{bottom:27.245676px;}
.y1b{bottom:32.767300px;}
.y1f{bottom:33.987300px;}
.y22{bottom:41.094000px;}
.y1{bottom:56.093700px;}
.y2c{bottom:69.445300px;}
.y2b{bottom:81.445300px;}
.y2a{bottom:93.445300px;}
.y29{bottom:117.445300px;}
.y28{bottom:129.445300px;}
.y27{bottom:141.445300px;}
.y1a{bottom:149.159300px;}
.y38{bottom:151.685300px;}
.y19{bottom:158.759300px;}
.y37{bottom:163.685300px;}
.y18{bottom:168.359300px;}
.y36{bottom:175.685300px;}
.y16{bottom:263.781400px;}
.y26{bottom:265.075300px;}
.y25{bottom:277.075300px;}
.y15{bottom:287.781400px;}
.y24{bottom:289.075300px;}
.y14{bottom:323.781400px;}
.y13{bottom:335.781400px;}
.y12{bottom:347.781400px;}
.y11{bottom:359.781400px;}
.y10{bottom:371.781400px;}
.yf{bottom:383.781400px;}
.ye{bottom:395.781400px;}
.yd{bottom:407.781400px;}
.yc{bottom:419.781400px;}
.yb{bottom:431.781400px;}
.ya{bottom:443.781400px;}
.y9{bottom:455.781400px;}
.y8{bottom:467.781400px;}
.y7{bottom:479.781400px;}
.y6{bottom:491.781400px;}
.y5{bottom:503.781400px;}
.y4{bottom:515.781400px;}
.y3{bottom:527.781400px;}
.y2{bottom:562.262600px;}
.y35{bottom:618.265300px;}
.y34{bottom:630.265300px;}
.y33{bottom:642.265300px;}
.y32{bottom:654.265300px;}
.y31{bottom:666.265300px;}
.y30{bottom:678.265300px;}
.y17{bottom:686.521400px;}
.y2f{bottom:690.265300px;}
.y23{bottom:701.521200px;}
.y2e{bottom:702.265300px;}
.y2d{bottom:714.265300px;}
.h9{height:16.401291px;}
.ha{height:20.246188px;}
.h7{height:23.328000px;}
.h6{height:23.392000px;}
.h4{height:29.160000px;}
.h5{height:29.240000px;}
.h8{height:50.829413px;}
.h3{height:140.352000px;}
.hc{height:580.000000px;}
.h2{height:680.914300px;}
.hb{height:695.914000px;}
.h1{height:737.000000px;}
.h0{height:737.008000px;}
.w2{width:496.000000px;}
.w3{width:566.929000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x2{left:25.039600px;}
.xb{left:28.346500px;}
.x5{left:59.305700px;}
.xe{left:65.196500px;}
.x7{left:227.690900px;}
.x3{left:229.469600px;}
.xf{left:238.106500px;}
.x6{left:320.714800px;}
.x10{left:411.016500px;}
.x9{left:414.198200px;}
.x4{left:461.909600px;}
.xd{left:521.902400px;}
.xc{left:566.929000px;}
.xa{left:592.797400px;}
.x11{left:595.271400px;}
.x12{left:606.061400px;}
.x1{left:626.929000px;}
.x13{left:778.971400px;}
.x14{left:951.881400px;}
.x8{left:988.297797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-15.360000pt;}
.ls3{letter-spacing:-2.192764pt;}
.ls4{letter-spacing:-0.540682pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.533333pt;}
.ls2{letter-spacing:4.654533pt;}
.ws2{word-spacing:-4.654533pt;}
.ws9{word-spacing:-2.773333pt;}
.ws10{word-spacing:-1.440000pt;}
.wsf{word-spacing:-1.280000pt;}
.wsc{word-spacing:-0.533333pt;}
.ws1{word-spacing:0.000000pt;}
.wse{word-spacing:0.693333pt;}
.ws8{word-spacing:1.546667pt;}
.wsb{word-spacing:1.706667pt;}
.ws6{word-spacing:1.866667pt;}
.ws3{word-spacing:2.192764pt;}
.wsa{word-spacing:3.360000pt;}
.ws7{word-spacing:3.680000pt;}
.ws4{word-spacing:6.453333pt;}
.wsd{word-spacing:7.733333pt;}
.ws5{word-spacing:12.426667pt;}
.ws0{word-spacing:15.360000pt;}
._1{margin-left:-4.906667pt;}
._2{margin-left:-1.925333pt;}
._3{width:1.909333pt;}
._4{width:4.561443pt;}
._0{width:15.360000pt;}
._5{width:179.896783pt;}
._6{width:3688.049269pt;}
.fs4{font-size:30.037867pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y1d{bottom:18.089733pt;}
.y1c{bottom:30.889733pt;}
.y1e{bottom:31.886667pt;}
.y20{bottom:34.200533pt;}
.y21{bottom:36.327568pt;}
.y1b{bottom:43.689733pt;}
.y1f{bottom:45.316400pt;}
.y22{bottom:54.792000pt;}
.y1{bottom:74.791600pt;}
.y2c{bottom:92.593733pt;}
.y2b{bottom:108.593733pt;}
.y2a{bottom:124.593733pt;}
.y29{bottom:156.593733pt;}
.y28{bottom:172.593733pt;}
.y27{bottom:188.593733pt;}
.y1a{bottom:198.879067pt;}
.y38{bottom:202.247067pt;}
.y19{bottom:211.679067pt;}
.y37{bottom:218.247067pt;}
.y18{bottom:224.479067pt;}
.y36{bottom:234.247067pt;}
.y16{bottom:351.708533pt;}
.y26{bottom:353.433733pt;}
.y25{bottom:369.433733pt;}
.y15{bottom:383.708533pt;}
.y24{bottom:385.433733pt;}
.y14{bottom:431.708533pt;}
.y13{bottom:447.708533pt;}
.y12{bottom:463.708533pt;}
.y11{bottom:479.708533pt;}
.y10{bottom:495.708533pt;}
.yf{bottom:511.708533pt;}
.ye{bottom:527.708533pt;}
.yd{bottom:543.708533pt;}
.yc{bottom:559.708533pt;}
.yb{bottom:575.708533pt;}
.ya{bottom:591.708533pt;}
.y9{bottom:607.708533pt;}
.y8{bottom:623.708533pt;}
.y7{bottom:639.708533pt;}
.y6{bottom:655.708533pt;}
.y5{bottom:671.708533pt;}
.y4{bottom:687.708533pt;}
.y3{bottom:703.708533pt;}
.y2{bottom:749.683467pt;}
.y35{bottom:824.353733pt;}
.y34{bottom:840.353733pt;}
.y33{bottom:856.353733pt;}
.y32{bottom:872.353733pt;}
.y31{bottom:888.353733pt;}
.y30{bottom:904.353733pt;}
.y17{bottom:915.361867pt;}
.y2f{bottom:920.353733pt;}
.y23{bottom:935.361600pt;}
.y2e{bottom:936.353733pt;}
.y2d{bottom:952.353733pt;}
.h9{height:21.868388pt;}
.ha{height:26.994917pt;}
.h7{height:31.104000pt;}
.h6{height:31.189333pt;}
.h4{height:38.880000pt;}
.h5{height:38.986667pt;}
.h8{height:67.772551pt;}
.h3{height:187.136000pt;}
.hc{height:773.333333pt;}
.h2{height:907.885733pt;}
.hb{height:927.885333pt;}
.h1{height:982.666667pt;}
.h0{height:982.677333pt;}
.w2{width:661.333333pt;}
.w3{width:755.905333pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x2{left:33.386133pt;}
.xb{left:37.795333pt;}
.x5{left:79.074267pt;}
.xe{left:86.928667pt;}
.x7{left:303.587867pt;}
.x3{left:305.959467pt;}
.xf{left:317.475333pt;}
.x6{left:427.619733pt;}
.x10{left:548.022000pt;}
.x9{left:552.264267pt;}
.x4{left:615.879467pt;}
.xd{left:695.869867pt;}
.xc{left:755.905333pt;}
.xa{left:790.396533pt;}
.x11{left:793.695200pt;}
.x12{left:808.081867pt;}
.x1{left:835.905333pt;}
.x13{left:1038.628533pt;}
.x14{left:1269.175200pt;}
.x8{left:1317.730395pt;}
}
